body{
  background-color: rgb(83,82,81);
}
h1{
  color: rgb(208,100,10);
  font-size: 75px;
}
h2{
  color: rgb(208,100,10);
  font-size: 50px;
}
p{
  color: rgb(163,163,163);
  font-size: 20px;
  text-align: left;
}
div{
  margin:auto;
  text-align: center;
}
.menusimple{
  color: rgb(163,163,163);
}
.main{
  background-color: rgb(45,45,45);
}
.bigbanner{
  background-color: rgb(45,45,45);
}
.smallbanner{
  background-Color: rgb(6,125,125);
  height:20px;
}
.sidemenu{
  top:30%;
  position: absolute;
}

.fixed{
  top:10%;
  position: fixed;
}
.MinMax{
  min-width: inherit;
  max-width: 100px;
}
.post{
  background-color: rgb(15,15,15);
  height:550px;
  margin: 2%;
  border-radius: 5px;
  border-style: groove;
  padding: 2%;
}

.blog-post{
    background-color: rgb(15,15,15);
    padding: 2%;
}

h5{
  color: rgb(163,163,163);
  font-size: 20px;
  text-align: left;
}
